.container{
	width: 100%;
	max-width: 960px;
	margin:0 auto;
	clear: both;
}

header {

	height: 70px;
	border-bottom: 2px solid #666666;
	background-color: white;
}

body{
	background:url('../images/doodles.png');
	height:100%;
}

header ul li{
	float: right;
	padding: 10px;
	padding-top:30px; 
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #666666;
}
header h1 {
	text-align: center;
	background-color: #4AAAA5;
	color: white;
	font-size:30px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	width: 200px;
	margin-left: 100px;
	padding: 5px;
	float:left;
	font-weight: bold;
}

.about{
	margin-top: 30px;
	background-color: white;
	padding: 10px;
	border: 1px solid grey;
	width: 500px;
	float: left;
	margin-left: 100px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	margin-bottom: 15%;
}


.about form{
	width: 100%;
	padding:10px;

	
}

.about input{

	width: 95%;	
	
}

.about img{
	padding: 5%;
	float: left;
}


.about h1{
	font-size: 30px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4AAAA5;
	padding: 10px;
	border-bottom: 2px solid #666666;
	font-weight: bold;

}
#main-bio {
	padding:20px;
}

h2{
	text-align: center;
	width: 100%;
	font-size: 20px;
	color: #4AAAA5;
	font-weight: bolder;
	border-bottom: 0.5px solid #666666;
	padding: 10px 0;
}



#contact-info {
	background-color: white;
	padding: 5px;
	width: 270px;
	margin-top:30px;
	border: 1px solid grey;
	float: right;
}

#contact-info img{
	padding: 15px;
}

footer {
 
  padding: 30px 0;
  clear: both;
  font-size: 12px;
  color: #fff;
  color: #ccc;
  text-align: center;
  background: #666;
  border-top: 8px solid #4aaaa5;
}

/*Portfolio*/

.PortPic{
	
	overflow: auto;
	margin:20px 0 25px;
	position: relative;
	float: left;

}

.PortPic:nth-child(even){
	margin-right: 40px;
}

.PortPic img{
	width:100%;
	border: 0 none;
	opacity: 0.8;
}

.PortPic h2{
	position: absolute;
	bottom: 20px;
	color: white;
	background: #4AAAA5;
	padding: 15px;
	text-align: center;
	width: 100%;
	border-bottom: 0;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

/*Media Query section*/

/*MAX WIDTH @ 980px*/

@media screen and (max-width: 980px)
{
	/*index.html*/
	header{
		width: 100%;
	}

	header ul{
	padding-right: 10%;
	}


	.container{
		width: 100%;
	}

	.about{
		text-align: center;
		width: 400px;
	}

	.about img{
		padding: 5%;
		width:90%;
		height: auto;	
		
	}
	
	#contact-info{
		width: 30%;
		padding: 0;
		
	}


	/*portfolio.html*/

	.portpic{
		width: 100%;
	}
}


/*MAX WIDTH @ 768px*/

@media screen and (max-width: 768px)
{
	/*index.html*/
	header{
		width: 100%;
	}

	header ul{
	padding-right: 10%;
	}


	.container{
		width: 100%;
	}

	.about{
		margin:5%;
		text-align: center;
		width: 600px;
	}

	.about img{

		padding: 5%;
		width:30%;
		height: auto;	
		
	}
	
	#contact-info{

		width: 80%;
		margin: 10%;

	}

	#contact-info img{
		padding-left: 100px;
	}

	/*portfolio.html*/

	.portpic{
		padding-left: 4%;
		width: 40%;
	}

	.portpic img{
		width: 100%;
		float: left;
	}
}

/*MAX WIDTH @ 640px*/

@media screen and (max-width:640px)
{
	/*index.html*/
	header{
		width: 100%;
	}

	header h1{

		margin: 0;
		width: 100%;
		padding: 5% 0;

	}

	header ul li{

		padding: 10%;
	}


	.container{
		width: 100%;
	}

	.about{
		margin:0 5%;
		text-align: center;
		width: 500px;
	}

	.about img{

		padding: 5%;
		width:30%;
		height: auto;	
		
	}
	
	#contact-info{

		width: 500px;
		margin-right: 80px;
	}

	#contact-info img{
		padding:3%;
	}

	/*portfolio.html*/

	.portpic{
		padding-left: 5;

		width: 95%;
	}

	.portpic img{
		width: 100%;
		float: left;
	}
}